@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.label {
    font-weight: bold;
    color: $Instock-Black;
    margin-bottom: 4px;
    display: block; // Ensure the label is on its own line
}

.drop-down__options {
    width: 100%;
    padding: 8px 16px;
    font-size: 14px;
    color: $Slate;
    border: 1px solid $Cloud;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease;
    appearance: none; // Remove default dropdown styling
    background-image: url('../../assets/Icons/arrow_drop_down-24px.svg'); // Path to the arrow icon
    background-repeat: no-repeat;
    background-position: right 16px center; // Position the arrow on the right side
    background-size: 16px; // Size of the arrow icon

    &:focus {
        border-color: $Instock-Indigo; // Blue border for active state
        color: $Instock-Black;
    }

    &.error {
        border-color: $Red; // Red border for error state
        color: $Red;
    }
}

.error-message {
    color: $Red;
    font-size: 12px;
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.error-message::before {
    content: '';
    display: inline-block;
    width: 16px; 
    height: 16px;
    background-image: url('../../assets/Icons/error-24px.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 4px;
}
