@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.form-page {
  display: flex;
  flex-direction: column;
}

article{
  padding: 0 24px;
}

.button-group {
  background-color: $Light-Grey;
  padding: 16px 0;
  display: flex;
  justify-content: space-evenly;
  gap: 16px;

  button {
      flex: 0 0 40%;
      height: 36px;
      padding: 0 16px;
      @include mobile-labels-links-buttons;
      border-radius: 20px;
      border: none;
  }
  
  .cancel-button {
      background-color: transparent;
      color: $Slate;
      border: 1px solid $Cloud;
  }
  
  .save-button {
      background-color: $Instock-Indigo;
      color: $White;
  }
}

.section-title {
  @include mobile-subheader;
  color: $Instock-Black;
  padding: 16px 0;
}

.text-field-group {
  .quantity_field {
    width: 100px;
  }

  margin-bottom: 16px;
  .description_field {
    height: 100px;
  }
}


@media (min-width: $tablet-breakpoint) {
  .form-page {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .tablet-layout {
    display: flex;
  }

  .tablet-layout article {
    flex: 1;
    box-sizing: border-box;
  }

  .item-details {
    border-right: 1px solid $Cloud;
    padding-right: 20px;
  }

  .item-availability {
    padding-left: 20px;
  }

  .section-title {
    @include tablet-subheader;
  }
}
