@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.form-page {
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
}

.section-title {
    color: $Instock-Black;
    margin: 16px 0px;
}

.text-field-group {
    margin-bottom: 16px;

    &__label {
        font-weight: bold;
        color: $Slate;
        margin-bottom: 8px;
    }

    &__input, .drop-down__options {
        color: $Slate;
        border: 1px solid $Cloud;
    }

    &__input:focus, .drop-down__options:focus {
        border-color: $Instock-Indigo;
    }
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 32px;

    button {
        min-width: 100px;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .cancel-button {
        background-color: transparent;
        color: $Slate;
        border: 1px solid $Cloud;
    }

    .save-button {
        background-color: $Instock-Indigo;
        color: #ffffff;
    }

    .cancel-button:hover, .save-button:hover {
        opacity: 0.9;
    }
}
