// Breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Color Palette:
$Instock-Black: #13182c;
$Instock-Indigo: #2e66e5;
$White: #ffffff;
$Slate: #5c667e;
$Cloud: #bdc5d5;
$Graphite: #232940;
$Light-Grey: #f7f8f9;
$Green: #158463;
$Red: #c94515;

// Padding Variables
$padding-4: 0.25rem;
$padding-8: 0.5rem;
$padding-16: 1rem;
$padding-24: 1.5rem;
$padding-32: 2rem;
$padding-40: 2.5rem;
$padding-48: 3rem;
$padding-56: 3.5rem;
$padding-64: 4rem;
$padding-80: 5rem;
