@use '../../../src/styles/variables' as *;
@use '../../../src/styles/mixins' as *;
// card
.card{
    width: 85%;    
    margin: 0 auto;
    background-color: $White; 
    border-radius: 5px;     
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: $tablet-breakpoint) {
    .card{
        width: 93%;    
    }

    .button-group {
        display: flex;
        gap: 16px;
        justify-content: flex-end;
        padding-right: 24px;
    
        button {
            flex: 0 0 10%;
            height: 38px;
            @include tablet-labels-links-buttons;
        }
    }
}

@media (min-width: $desktop-breakpoint) {
    .card{
        width: 96%;    
    }
}
