@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.warehouse-form {
  background-color: $White;
  border-radius: 1.25rem;

  &__section {
    padding: 0rem 2rem 2rem 2rem;

    &--details {
        border-bottom: .0625rem solid $Cloud;
    }

  }

  &__title {
    @include mobile-subheader;
  }

  &__label {
    display: block;
    margin-bottom: $padding-4;
    padding-top: 1rem;
    @include mobile-labels-links-buttons;
  }

  &__input {
    width: 90%;
    padding: 0rem $padding-16;
    color: $Instock-Black;
    @include mobile-p2-body-medium;
    @include form-field;
  
    &::placeholder {
      font-weight: 400;
      font-size: .875rem;
      line-height: 1.375rem;
      color: $Slate; 
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    gap: $padding-16;
    flex-direction: row;
    gap: $padding-16;  
    justify-content: space-between; 
    padding: 1rem 2rem;
    background-color: $Light-Grey;

    @include tablet {
      gap: $padding-32;
    }
  }

  &__submit {
    width: 100%;
    @include mobile-p2-body-medium;
    @include primary-button;

    &:hover {
        background-color: $Graphite ;
      }
  }

  &__cancel {
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile-p2-body-medium;
    @include secondary-button;
    color: $Slate;

    &:hover {
        color: $Instock-Indigo; 
        border-color: $Instock-Indigo; 
      }
  }

  &__error-message {
    display: flex;
    align-items: center;
    color: red;
    font-size: .75rem;
    line-height: 1.125rem;
    font-weight: 400;
    margin: 0;
    padding-top: .25rem;
  }

  &__error-icon {
    width: 1rem;
    height: 1rem;
    margin-right: .3125rem;
  }

  &__input--error {
    border: 2px solid red;
  }

}

 @include tablet {
  .warehouse-form__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: $padding-40;
  }

  .warehouse-form__section--details,
  .warehouse-form__section--contact {
    flex: 1;
    margin-right: $padding-24;
    max-width: 48%;
  }

  .warehouse-form__input {
    width: 100%;
  }

  .warehouse-form__actions {
    flex-direction: row;
    gap: $padding-32;
    justify-content: flex-start;
    padding: 0rem 2rem 2rem 2rem;
  }
}