@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.footer{
    color: $Slate;
    @include mobile-p3-body-small;
    display:flex;
    justify-content: center;


    @include tablet {
        @include tablet-p3-body-small;
    }
}