@use '../../src/styles/variables' as *;
@use '../../src/styles/mixins' as *;

.card{
    width: 85%;    
    margin: 0 auto;
    background-color: #fff; 
    border-radius: 5px;     
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}